@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    outline: none; 
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: #444;
}

html::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 5rem;
} 

body {
    background: #222;
}

section {
    padding: 2rem 0;
}

.heading {
    text-align: center;
    padding-bottom: 2rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 4rem;
}

.heading span {
    color: rgb(162, 162, 189);
    text-transform: uppercase;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    background: #666;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}

.btn:hover {
    color: blue;
}

.header {
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0;
    z-index: 10000;
    background: #333;
    padding: 1.5rem 0;
}

.header .logo {
    font-weight: bolder;
    color: #fff;
    font-size: 2.5rem;
}

.header .logo span {
    color: red;
}

.header .navbar a {
    font-size: 1.7rem;
    color: #fff;
    margin-right: 2rem;
}

.header .navbar a:hover {
    color:var(--main-color);
}

#menu-bars {
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

.review .box {
    border-radius: .5rem;
    background: #333;
    padding: 2rem;
    position: relative;
}

.review .box .fa-quote-right {
    position: absolute;
    top: 2rem; 
    right: 2rem;
    color: black;
    font-size: 5rem;
}

.review .box .user {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 1rem;
}

.review .box .user img {
    max-width: 250px;
    max-height: 250px;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .box .user h3 {
    font-size: 2rem;
    color: #fff;
}

.review .box .user span {
    font-size: 1.5rem;
    color: #eee;
}

.review .box p {
    line-height: 2;
    color: #eee;
    padding: .5rem 0;
    font-size: 1.5rem;
}

.swiper-wrapper {
    align-items: center; 
    padding-bottom: 30px; 
}

.swiper-container {
    width: 100%;
    height: auto;
    margin: 0 auto;
}


.navbar {
    justify-content: flex-end;
}

.container {
    padding: 0;
}

.row {
    margin: 0;
}

.swiper {
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

@media (max-width: 768px) {
    #menu-bars {
        display: block;
    }
    
    .navbar {
        display: none;
    }
    
    .navbar.active {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background: #333;
        padding: 1rem;
    }
}